/*#region fonts*/
@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2"),
		url("../fonts/HelveticaNeueMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueBlackCond.woff2") format("woff2"),
		url("../fonts/HelveticaNeueBlackCond.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
		url("../fonts/HelveticaNeueLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"),
		url("../fonts/HelveticaNeueRegular.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2"),
		url("../fonts/HelveticaNeueMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueItalic.woff2") format("woff2"),
		url("../fonts/HelveticaNeueItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueHeavy.woff2") format("woff2"),
		url("../fonts/HelveticaNeueHeavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueThin.woff2") format("woff2"), url("../fonts/HelveticaNeueThin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
		url("../fonts/HelveticaNeueLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

/*#endregion RegionName*/

html {
	font-size: 100%;
	color: #303236;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: unset;
}

header {
	z-index: 1;
	background-color: #05386b;
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	padding: 0.5rem 1rem;
	justify-content: space-between;
	align-content: center;
	overflow: hidden;
	height: 4rem;
}

#logo {
	font-family: "Ubuntu", "Quicksand", sans-serif;
	color: white;
	margin: 0;
	flex-grow: 1;
}

a h1 {
	margin: 0;
}

.searchIcon,
.gridIcon {
	margin-top: 0.3rem;
	margin-left: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

div.search {
	position: absolute;
	transition: all 0.3s ease;
	left: 100%;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100%;
	background-color: #05386b;
	z-index: 10;
	text-align: center;
}

header.search div.search {
	left: 0;
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
}

div.search input {
	color: #05386b;
	font-family: "Ubuntu", "Quicksand", sans-serif;
	border: none;
	border-radius: 0.7rem;
	font-size: 1.5rem;
	background: white url("../images/icons/search_blue.svg") 0.5rem center no-repeat;
	width: calc(100% - 4.2rem);
	padding: 0.3rem 0.5rem;
	padding-left: 2.5rem;
}

header.search input {
	width: 50%;
	flex-grow: 1;
	margin: 0 0.5rem;
}

div.search img {
	cursor: pointer;
	position: relative;
	/* top: 0.7rem; */
	height: 2.5rem;
	width: 2.5rem;
}

div.search #logo {
	text-align: left;
	display: none;
	flex-grow: 0;
	margin-right: 2rem;
}

main {
	padding-top: 4rem;
}

main.index {
	max-width: 2000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	height: 100%;
	padding: 0.5rem;
	padding-top: 4.5rem;
}

.heroText {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

main.index a {
	padding: 1rem;
	margin: 0.5rem;
	border: 0.5rem solid #05386b;
	color: #303236;
	font-size: 8vw;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	background-size: cover;
	background-position: center center;
}

main.index p {
	font-size: 1rem;
	font-weight: 300;
	color: #6a6d75;
}

main.index .tablet {
	display: none;
}

a.homeLink h3 {
	text-align: center;
	align-self: center;
	justify-self: center;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
}
a.homeLink {
	transition: opacity 0.3s ease-out;

	width: 100%;
	position: absolute;
	bottom: 0;
}

main.search {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
}
a.search_item {
	padding: 0;
	display: block;
	transition: all 0.5s ease;
}

.search_item .img {
	border: 3px solid white;
	width: 100%;
	padding-top: 55%;
	background-size: cover;
	background-position: center center;
}
.search_item:hover .img {
	border: 3px solid #05386b;
}

.search_item h3 {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.3rem;
}

.search_item h4 {
	margin: 0;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	font-size: 1.1rem;
}

div.filter {
	position: relative;
	top: 4rem;
	width: 100%;
	height: auto;
	overflow-y: hidden;
	transition: max-height 0.5s ease;
	background-color: white;
	max-height: 0rem;
	box-sizing: content-box;
}

.filterOpen {
	max-height: 21rem !important;
}

.filter h3 {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.3rem;
	color: #05386b;
}

ul {
	margin: 0.5rem;
	padding: 0;
}

.filter li {
	display: inline-block;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color: white;
	background-color: #7cbdff;
	padding: 0.2rem 0.6rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.filter li:hover {
	background-color: #2a66a2;
}

.recipe h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	color: #303236;
}
h2 {
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 200;
	margin: 0;
	font-size: 1.1rem;
	color: #6a6d75;
}

#hero {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center center;
}

.recipe {
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color: #6a6d75;
}

h1,
h2,
h3,
h4,
p {
	margin: 0 1rem;
}

p,
h1 {
	margin-top: 1rem;
}
img#ingredients {
	width: 100%;
}

h3 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	color: #303236;
	font-weight: 500;
}
h4 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.1rem;
	color: #303236;
	font-weight: 500;
}
div.hr {
	display: block;
	margin: 1rem 0;
	width: 100%;
	height: 1px;
	background-color: #d3d4d7;
}

.recipe table {
	font-size: 1rem;
	color: #303236;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	margin: 1rem 1rem;
	table-layout: fixed;
}

td:first-child {
	width: 1px;
	white-space: nowrap;
	padding-right: 0.3rem;
	vertical-align: top;
}

.recipe td:first-child {
	text-align: right;
	color: #6a6d75;
	font-weight: 100;
}

.step img {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.step:first-of-type img {
	margin-top: 1rem;
}

.step:last-of-type {
	margin-bottom: 2rem;
}

.step div.num {
	display: inline-block;
	background-color: #05386b;
	color: white;
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 100%;
	text-align: center;
	font-weight: 200;
	font-size: 0.9rem;
	padding-top: 0.1rem;
}

.selected {
	background-color: #05386b !important;
}

@media screen and (min-width: 600px) {
	#hero {
		padding-top: 60%;
	}

	main.index {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		min-height: 700px;
	}

	main.index .tablet {
		display: block;
	}

	main.index .heroText {
		font-size: 2.5vw;
	}

	.step img {
		width: calc(100% - 2rem);
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.filter ul {
		margin: 0.5rem 1rem;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
	}
	div.search #logo {
		display: block;
	}

	main.search {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 768px) {
	#hero {
		width: calc(100% - 2rem);
		margin: 1rem;
		padding-top: 50%;
	}

	img#ingredients {
		display: block;
		flex-shrink: 1;
		max-width: 70%;
	}

	div.ingredients {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		/* max-width: 900px; */
		padding: 2rem;
	}

	div.instructions {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
	}

	div.step h4 {
		margin: 0.5rem 0rem;
	}

	div.step :not(h4) {
		margin: 0 !important;
		width: 100%;
	}

	div.step {
		margin: 1.5rem;
		margin-bottom: 3rem;
	}

	div.filter {
		height: unset;
	}
}

@media screen and (min-width: 900px) {
	main.recipe {
		max-width: 1100px;
		margin: auto;
		padding-bottom: 4rem;
	}

	.recipeIntro {
		display: flex;
		flex-flow: row nowrap;
	}

	#hero {
		order: 2;
		width: 27rem;
		height: 27rem;
		flex-grow: 1;
	}

	.recipeIntro div {
		width: 35%;
	}

	.filterOpen {
		max-height: 10rem !important;
	}
	div.filter {
		display: flex;
	}
	main.search {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
